body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 9999;
  animation: fadeInOut 4s forwards;
}

.overlay-text {
  color: #D4AF37;
  font-size: 10vw;
  text-align: center;
  font-family: 'Alex Brush', cursive;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  margin: 0;
  padding: 0;
}

.corner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

.corner-embroidery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.corner-embroidery {
  position: absolute;
  width: 20vw;
  height: 20vw;
}

.top-left {
  top: 10px;
  left: 10px;
  transform: rotate(180deg);
}

.top-right {
  top: 10px;
  right: 10px;
  transform: rotate(270deg);
}

.bottom-left {
  bottom: 10px;
  left: 10px;
  transform: rotate(90deg);
}

.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(0deg);
}

.bloom-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -99;
  background-color:#fcfce1;
}

.bloom {
  position: absolute;
  width: 250px;
  height: 250px;
  background: radial-gradient(circle, gold 0%, rgba(255, 215, 0, 0) 70%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: bloom-fade 2s ease-in-out forwards;
}

@keyframes bloom-fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.film-wrapper {
  position: relative;
  width: 40%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}

.film-strip {
  position: absolute;
  top: 0;
  width: 100%;
  animation: scrollFilm 25s linear infinite;
}

.film-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  border: 4px solid #444;
  box-shadow: inset 0 0 20px #000;
  overflow: hidden;
}

.frame-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  margin: 0 40px;
}

.frame-content img {
  width: 95%;
  height: auto;
  object-fit: contain;
}

.holes {
  top: 0;
  bottom: 0;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  z-index: 1;
}
.hole {
  width: 24px;
  height: 40px;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.left .hole {
  margin-left: 40px;
}
.right .hole{
  margin-right: 40px;
}

@keyframes scrollFilm {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-49.7%);
  }
}

.invite {
  color: #D4AF37;
  font-family: 'Alex Brush', cursive;
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
    align-items: center;
  border: #D4AF37 double 15px;
  padding: 30px;
  z-index: 1;
}

.text{
  font-size: 40px;
  padding: 10px;
  margin:  0;
}

#nomes{
  font-size: 70px;
}
@media (max-width:1600px){
  .main {
    gap: 8%;
  }
  .invite {
    font-size: 36px;
  }
}

@media (max-width:680px){
  .film-wrapper {
    width: auto;
    height: 95vh;
  }
    
  .corner-embroidery {
    width: 30vw;
    height: 30vw;
  }
  
  .main {
    gap: 0;
    display: block;
  }
  .invite {
    font-size: 26px;
    height: 87.5vh;
  }

  .hole {
    width: 12px;
    height: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .left .hole {
    margin-left: 40px;
  }
  .right .hole{
    margin-right: 40px;
  }

  .text{
  font-size: 25px;
  padding: 0;
  margin:  0;
  }

  #nomes{
    font-size: 40px;
  }
}
